@model IEnumerable<Projekt_SZBD.Models.MAGAZYN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ADRES.Ulica)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Opis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ADRES.Ulica)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_Magazynu }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_Magazynu }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_Magazynu })
        </td>
    </tr>
}

</table>
